*{
   padding: 0;
   margin: 0;
}
body{
   background: #6b6b6b;
}
.container{
   width: 50vw;
   margin: 0 auto;
   /* border: 1px solid #000; */
   overflow: hidden;
}
.imgs{
   width: 400%;
   height: 50vh;
   
   /* border: 2px solid #ff0303; */
   border-radius: 1em;
   margin-top: 4em;
   display: flex;
   margin-bottom: 2em;
}
.img-cont{
   width: 25%;
   position: relative;
   transition: all .5s ease;

}
.img-cont img{
   width: 100%;
   height: 100%;
   position: relative;
}
.desc-pag{
   display: flex;
   justify-content: space-between;
   /* border: 1px solid #000; */
   
}
.description{
   /* width: 20%; */
   display: flex;
   justify-content: space-around;
   border: 1px solid #000;
   text-wrap:nowrap;
   position: relative;
}
.description p {
   /* margin-right: 4em; */
}
.controls{
   
   display: flex;
   justify-content: space-between;
   cursor: pointer;

   
}
.circle{
   width: 69%;
   height: 69%;
   background-color: aqua;
   border-radius: 50%;
}
.ctrl{
   width: 2em;
   height: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
}
.ctrl:hover .circle{
   background: #fff;
}
.text{
   position: relative;
}
.circle{
   cursor: pointer;
}
input[name="control"]{
   display: none;
}

#ctrl1:checked ~ .img-cont{
   left: 0;
}
#ctrl1:checked ~ .text{
   left: 0;
}

#ctrl2:checked ~ .img-cont{
   left: -25%;
}
#ctrl2:checked ~ .text{
   left: 20px;
}

#ctrl3:checked ~ .img-cont{
   left: -50%;
}
#ctrl3:checked ~ .text{
   left: 40px;
}

#ctrl4:checked ~ .img-cont{
   left: -75%;
}
#ctrl4:checked ~ .text{
   left: 60px;
}

